body {
    font-family:Arial, Helvetica, sans-serif;
}

h4, p {
    margin: 0;
}

.mycontainer {
    margin: 0 auto;
    max-width: 1000px;
}

.myrow {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.mycol {
    width: calc((100% - 50px)/3);
    position: relative;
}

.mycol img {
    width: 130px;
    height: auto;
}